.features {
    grid-area: features;
    display: grid;
    grid-template-columns: minmax(3rem, 1fr) minmax(min-content, 114rem) minmax(3rem, 1fr);

    &__box{
        grid-column: 2 / 3;
        display: grid;
        margin: 15rem 0;
        padding: 0 3rem;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 6rem;

        @include breakpoint($small-bp){
            margin: 7.5rem 0;
            padding: 0 1rem
        }
    }

    .feature {
        display:grid;
        grid-template-columns: max-content minmax(min-content, 1fr);
        grid-template-rows: min-content min-content;
        grid-gap: 2rem;
        align-items: flex-start;
        grid-template-areas: "icon title"
                             ". para";

        svg{
            grid-area: icon;
            height: 4.5rem;
            width: 4.5rem;
            margin-top: -1rem;
            fill: $color-gold;
        }

        h4 {
            grid-area: title;
        }

        p {
            grid-area: para;
            font-size: 1.5rem;
            text-align: justify;
        }
    }
}